*.pyc
__pycache__/
.env
.env.*
*.sqlite3
*.log
.vscode/
.venv/
.DS_Store
node_modules/
docs/manuals/
docs/schema/
*.db
*.pkl
*.bak
*.swp
.idea/
*.egg-info/
coverage/
dist/
build/
*.cache
*.tmp
*.lock
*.pid
*.sock
*.crt
*.pem
*.key
*.test
*.out
*.old
*.orig
*.zip
*.tar.gz
*.tgz
*.tar
*.ipynb_checkpoints/
*.mypy_cache/
*.pytest_cache/
*.tox/
*.coverage
*.py[cod]

